/*/////    .APP AND OVERALL STYLING ///////////*/
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  background-color: black;
  color: #39FF14;
  height: 100vh;
}

button {
  width: 160px;
  height: 60px;
  font-family: 'zig', serif;
  font-size: 20px;
  background-color: #39FF14;
  font-weight: bolder;
  margin: 10px;
  border: none;
  animation-name: boxGlow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

input {
  color: #39FF14;
  border: none;
  border-bottom: 2px solid #39FF14;
  background-color: black;
}

/*/////    .APP AND OVERALL STYLING ///////////*/

/*////////// FONT STYLES ////////////*/
@font-face {
  font-family: 'zig';
  src: local('zig'), url(./fonts/zig_____.ttf) format('truetype');
}

@font-face {
  font-family: '8801';
  src: local('8801'), url(./fonts/8801-DKnR.ttf) format('truetype');
}
/*////////// FONT STYLES ////////////*/


/*////////// ANIMATIONS ////////////*/
@keyframes glow {
  0% {
    text-shadow: 2.5px 2.5px 7px #b7faab;
  }
  50% {
    text-shadow: 2.5px 2.5px 12px #b7faab;
  }
  100% {
    text-shadow: 2.5px 2.5px 7px #b7faab;
  }
}

@keyframes boxGlow {
  0% {
    box-shadow: 0px 0px 12px #b7faab;
  }
  50% {
    box-shadow: 0px 0px 20px #b7faab;
  }
  100% {
    box-shadow: 0px 0px 12px #b7faab;
  }
}

@keyframes typing {
  from { width: 0; opacity: 100% }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #39FF14; }
}

@keyframes load-in {
  0% { opacity: 0%;}
  100% { opacity: 100% }
}

/*////////// ANIMATIONS ////////////*/


/*///////////  HEADER AND WELCOME PAGE STYLING ////////*/

header {
  color: #39FF14;
  font-size: 36px;
  font-family: 'zig', serif;
  letter-spacing: 10px;
  background-color: black;
}

.title {
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.welcome-box {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 5px dotted #39FF14;
  margin: 10px;
  padding: 10px;
  justify-content: space-evenly;
  height: 62vh;
  width: 80vw;
  letter-spacing: 3px;
}

.h1 {
  font-size: 28px;
  font-family: 'zig', serif;
  overflow: hidden; 
  border-right: 3px solid #39FF14; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: 2px; 
  animation: 
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

#h1-2 {
  opacity: 0%;
  animation: 
  typing 5s steps(40, end),
  blink-caret .75s step-end infinite;
  animation-delay: 4.6s;
}

.author-tagline {
  font-size: 12px;
  font-family: 'zig', serif;
}


/*///////////  HEADER AND WELCOME PAGE STYLING ////////*/

/*//////LOGIN PAGE SPECIFIC STYLING////*/

.login-section {
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: space-evenly;
}

.column1 {
  width: 50%
}

.column2 {
  flex: 1;
}

h2 {
  font-family: 'zig', serif;
  color: #39FF14;
  font-size: 24px;
  letter-spacing: 2px;
}

.play-as-guest {
  border-left: 3px solid #39FF14;
  padding-left: 130px;
  padding-top: 100px
}

.login-form {
  padding-left: 50px;
  padding-right: 130px;
  padding-top: 55px;
}

#login-submit-button {
  background-color: #39FF14;
  color: black;
  font-family: 'zig',serif;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  animation-name: boxGlow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

input[type=text] {
  background-color: black;
  
}

label {
  font-family: '8801', serif;
  letter-spacing: 2px;
  padding: 20px;
}

#create-acct-link {
  color: #39FF14;
  font-size: 12px;
  font-family: '8801', serif;
  letter-spacing: 1px;
}
/*//////LOGIN PAGE SPECIFIC STYLING////*/

/*////// CREATE ACCOUNT PAGE STYLING ///////*/

#sword-img-left {
  width: 200px;
  height: 200px;
}

#sword-img-right {
  width: 200px;
  height: 200px;
}

.create-account-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

#sword-div-left {
  display: flex;
  margin-right: 60px;
}
#create-account-div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 20px;
}
#sword-div-right {
  display: flex;
  margin-left: 60px;
}

#create-account-title {
  font-size: 36px;
  font-family: 'zig', serif;
  letter-spacing: 2px;
}

#submit-create-account {
  background-color: #39FF14;
  color: black;
  font-family: 'zig',serif;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  animation-name: boxGlow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#create-username-input {
  margin-left: 36px;
}
#create-password-input {
  margin-left: 36px;
}
#confirm-password-input {
  margin-left: 36px;
}

/*////// CREATE ACCOUNT PAGE STYLING ///////*/

/*/////// PLAYER HISTORY PAGE STYLING ////////*/

.player-history-section {
  height: 70vh;
  width: 90vw;
  border: 2px dashed #39FF14;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

#previous-games-title {
  font-size: 36px;
  font-family: 'zig', serif;
  letter-spacing: 2px;
  border-bottom: 2px dashed #39FF14;
  padding-top: 10px;
  padding-bottom: 30px;
}

#previous-games-container {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-family: '8801', serif;
  letter-spacing: 1px;
  text-align: left;
}

#previous-games {
  text-align: center;
  text-decoration: underline;
}


/*/////// PLAYER HISTORY PAGE STYLING ////////*/

/*/////// GET PLAYER NAME PAGE STYLING ////////*/

#nameth {
  font-size: 30px;
  font-family: 'zig', serif;
  text-align: center;
}

#nameth-door-img-div {
  display: grid;
  justify-content: center;
}

#get-player-name-form{
  display: grid;
  justify-content: center;

}

#get-name-input{
  border-left: 3px solid #39FF14;
  margin-right: 30px;
  animation: blink-caret 1s step-end 4;

}

#doors-img {
  justify-self: center;
  margin-top: 40px;
  margin-bottom: 40px;;
  height: 150px;
  width: 240px;
  overflow: hidden;
  animation: load-in;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: steps(100);
}

/*/////// GET PLAYER NAME PAGE STYLING ////////*/

/*/////// GAME OVER ////////*/

#game-over-imgs {
  display: flex;
  justify-content: center;
}

#coffin-img {
  height: 150px;
  width: 150px;
}

#gameover-img {
  height: 150px;
  width: 250px;
}

#end-game-div {
  font-size: 14px;
  font-family: '8801',serif;
  letter-spacing: 2px;
  justify-content: center;
  text-align: center;
}

#end-game-buttons {
  display: flex;
  justify-content: center;
}

#save-and-quit-btn {
  font-size: 16px;
}

#save-and-play-again-btn {
  font-size: 16px;
}

#end-game-columns {
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: space-evenly;
}

#end-game-left-col {
  width: 50%
}

#end-game-right-col {
  flex: 1;
  border: 1px dashed #39FF14;
  margin-left: 50px;
  font-family: '8801', serif;
  border-bottom: 1px dashed #39FF14;
  margin-left: 20px;
  text-align: center;
  font-size: 16px;
  
}

/*/////// GAME OVER ////////*/

/*/////// EVENTS AND RESPONSE STYLING /////////*/ 

.event-text {
  font-family: '8801', serif;
  font-size: 24px;
  text-align: left;
  line-height: 1.5;
  overflow: hidden;
  animation: load-in;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: steps(100);
}

.leaders {
  line-height: 1.5;
}